.wrapper {
	padding-top: 200px;
}

body {
	background-image: url("https://cdnb.artstation.com/p/assets/images/images/036/897/309/large/timur-tagirov-dojo-2-scene-3.jpg?1618930582");
}

.error {
	color: red;
}

h1 {
	color:#1a0300;
	text-align: center;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: white;
	padding-bottom: 10px;
}


ul{
	margin-left: 735px;
	margin-top: 280px;
	font-size: 18px;
}

form {
	text-align: center;
}

button {
	display: flex;
	flex-direction: column; 
	margin-left: 640px;
	margin-top: 20px;
}